# 0- Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
# !pip install openpyxl

# 1- Importar base

In [3]:
df_prod = pd.read_excel('../01-Data\Dados - desafio disciplina RPVMM.xlsx')
df_prod

,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,Loja,Classe de onda,Tipo de buffer,Item pai,Cor,Tamanho,Inner
0,1,2023-11-07,549326104,472,232,24,0.130,5,CARTON_M,1,1,EN,1,1.0,1,1
1,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,2,2,CX,2,2.0,2,1
2,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,3,1,CX,3,3.0,3,1
3,4,2023-11-20,847250347,460,267,52,0.570,2,CARTON_M,4,3,EN,4,4.0,4,1
4,5,2023-11-17,840651501,480,235,67,0.340,3,CARTON_M,5,4,EN,5,5.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,11716,2023-11-27,882142923,545,320,34,0.300,1,CARTON_M,147,4,EN,506,9.0,6,1
99996,11428,2023-11-27,837646815,493,220,50,0.303,1,CARTON_M,12,4,EN,1212,4.0,3,1
99997,11460,2023-11-17,882141251,459,333,21,0.307,1,CARTON_M,129,4,EN,2334,9.0,6,1
99998,11542,2023-11-17,882141269,472,332,22,0.287,2,CARTON_M,37,4,EN,2334,9.0,1,1
99999,11696,2023-11-27,881474521,191,306,33,0.280,2,CARTON_M,50,4,EN,1581,486.0,3,1

In [4]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Ordem de produção          100000 non-null  int64
 1   Data da ordem de produção  100000 non-null  datetime64[ns]
 2   Produto                    100000 non-null  int64
 3   Comprimento unit           100000 non-null  int64
 4   Largura unit               100000 non-null  int64
 5   Altura unit                100000 non-null  int64
 6   Peso unit                  100000 non-null  float64
 7   Peças                      100000 non-null  int64
 8   Caixa padrão               100000 non-null  object
 9   Loja                       100000 non-null  int64
 10  Classe de onda             100000 non-null  int64
 11  Tipo de buffer             100000 non-null  object
 12  Item pai                   100000 non-null  int64
 13  Cor                        94042 non-null   float64
 14  Tamanho                    100000 non-null  int64
 15  Inner                      100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(2)
memory usage: 12.2+ MB

In [5]:
df_prod.columns

Index(['Ordem de produção', 'Data da ordem de produção', 'Produto',
       'Comprimento unit', 'Largura unit', 'Altura unit', 'Peso unit', 'Peças',
       'Caixa padrão', 'Loja', 'Classe de onda', 'Tipo de buffer', 'Item pai',
       'Cor', 'Tamanho', 'Inner'],
      dtype='object')

Transformar variáveis de código (chave) em string

In [6]:
vars_string = ['Ordem de produção', 'Produto','Caixa padrão', 'Loja', 'Classe de onda', 
               'Tipo de buffer', 'Item pai', 'Cor', 'Tamanho']

df_prod[vars_string] = df_prod[vars_string].astype('string')

df_prod[vars_string].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Ordem de produção  100000 non-null  string
 1   Produto            100000 non-null  string
 2   Caixa padrão       100000 non-null  string
 3   Loja               100000 non-null  string
 4   Classe de onda     100000 non-null  string
 5   Tipo de buffer     100000 non-null  string
 6   Item pai           100000 non-null  string
 7   Cor                94042 non-null   string
 8   Tamanho            100000 non-null  string
dtypes: string(9)
memory usage: 6.9 MB

In [7]:
df_rotas_capacidade = pd.read_excel('../01-Data\Dados - desafio disciplina RPVMM.xlsx', sheet_name='Rotas_capacidade')
df_rotas_capacidade

    Rota    Capacidade
0      1           inf
1      2  2.720000e+10
2      3           inf
3      4           inf
4      5  2.720000e+10
5      6  2.720000e+10
6      7  4.000000e+10
7      8  4.000000e+10
8      9  2.720000e+10
9     10  2.720000e+10
10    11  2.720000e+10
11    12  1.600000e+10
12    13  2.720000e+10
13    14  7.600000e+10
14    15  4.000000e+10
15    16  2.240000e+10
16    17  2.720000e+10
17    18  2.720000e+10

In [8]:
df_rotas_capacidade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rota        18 non-null     int64
 1   Capacidade  18 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 420.0 bytes

In [9]:
df_rotas_capacidade['Rota'] = df_rotas_capacidade['Rota'].astype('string')

In [10]:
df_rotas_lojas = pd.read_excel('../01-Data\Dados - desafio disciplina RPVMM.xlsx', sheet_name='Rotas_lojas')
df_rotas_lojas

     Rota  Loja
0       1    44
1       2     8
2       3    70
3       4   123
4       3   122
..    ...   ...
152     4   102
153     4    32
154     4   144
155     3   151
156     4    29

[157 rows x 2 columns]

In [11]:
df_rotas_lojas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rota    157 non-null    int64
 1   Loja    157 non-null    int64
dtypes: int64(2)
memory usage: 2.6 KB

In [12]:
df_rotas_lojas[['Rota', 'Loja']] = df_rotas_lojas[['Rota', 'Loja']].astype('string')

In [13]:
df_caixas_tipo = pd.read_excel('../01-Data\Dados - desafio disciplina RPVMM.xlsx', sheet_name='Tipos de caixa')
df_caixas_tipo

,Tipo,Tipo de buffer,Comprimento,Largura,Altura,Fator de ocupação,Peças max,Peso max (kg)
0,Caixa 1,CX,380,285,285,0.9,170,23
1,Caixa 2,CX,586,436,272,1.2,170,23
2,Caixa 3,CX,728,427,270,0.9,170,23
3,Caixa 1,EN,380,285,285,0.9,512,23
4,Caixa 2,EN,586,436,272,1.2,512,23
5,Caixa 3,EN,728,427,270,0.9,512,23

## 1.1 - Juntar bases

In [14]:
df_rotas = df_rotas_lojas.merge(df_rotas_capacidade, how='left', on='Rota')
df_rotas

    Rota Loja    Capacidade
0      1   44           inf
1      2    8  2.720000e+10
2      3   70           inf
3      4  123           inf
4      3  122           inf
..   ...  ...           ...
152    4  102           inf
153    4   32           inf
154    4  144           inf
155    3  151           inf
156    4   29           inf

[157 rows x 3 columns]

In [15]:
df_prod_completo = df_prod.merge(df_rotas, how='left', on='Loja')
df_prod_completo

,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,Loja,Classe de onda,Tipo de buffer,Item pai,Cor,Tamanho,Inner,Rota,Capacidade
0,1,2023-11-07,549326104,472,232,24,0.130,5,CARTON_M,1,1,EN,1,1.0,1,1,3,inf
1,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,2,2,CX,2,2.0,2,1,11,2.720000e+10
2,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,3,1,CX,3,3.0,3,1,5,2.720000e+10
3,4,2023-11-20,847250347,460,267,52,0.570,2,CARTON_M,4,3,EN,4,4.0,4,1,14,7.600000e+10
4,5,2023-11-17,840651501,480,235,67,0.340,3,CARTON_M,5,4,EN,5,5.0,5,1,4,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,11716,2023-11-27,882142923,545,320,34,0.300,1,CARTON_M,147,4,EN,506,9.0,6,1,3,inf
99996,11428,2023-11-27,837646815,493,220,50,0.303,1,CARTON_M,12,4,EN,1212,4.0,3,1,3,inf
99997,11460,2023-11-17,882141251,459,333,21,0.307,1,CARTON_M,129,4,EN,2334,9.0,6,1,4,inf
99998,11542,2023-11-17,882141269,472,332,22,0.287,2,CARTON_M,37,4,EN,2334,9.0,1,1,4,inf
99999,11696,2023-11-27,881474521,191,306,33,0.280,2,CARTON_M,50,4,EN,1581,486.0,3,1,3,inf

# 2.0 - EDA

## 2.1 - Verificar inners por pai-cor

In [16]:
df_prod_completo['pai-cor'] = df_prod_completo['Item pai'] + '-' + df_prod_completo['Cor']
df_prod_completo['pai-cor']

0             1-1.0
1             2-2.0
2             3-3.0
3             4-4.0
4             5-5.0
            ...
99995       506-9.0
99996      1212-4.0
99997      2334-9.0
99998      2334-9.0
99999    1581-486.0
Name: pai-cor, Length: 100000, dtype: string

In [17]:
pd.crosstab(df_prod_completo['pai-cor'].sort_values(), df_prod_completo['Inner'])

Inner       1   2   3   4   5   6   10  12
pai-cor
1-1.0      158   0   0   0   0   0   0   0
1-4.0      181   0   0   0   0   0   0   0
10-9.0       1   0   0   0   0   0   0   0
100-4.0     15   0   0   0   0   0   0   0
100-9.0     17   0   0   0   0   0   0   0
...        ...  ..  ..  ..  ..  ..  ..  ..
998-10.0     0   0   0   0   0   0   6   0
998-3.0      0   0   0   0   0   0   4   0
999-1.0      0  18   0   0   0   0   0   0
999-193.0    0  52   0   0   0   0   0   0
999-61.0     0  13   0   0   0   0   0   0

[3208 rows x 8 columns]

In [18]:
pd.DataFrame(pd.crosstab(df_prod_completo['pai-cor'].sort_values(), df_prod_completo['Inner']).gt(0).sum(axis=1)).sum(axis=0)

0    3208
dtype: int64

Verificamos que todos os itens de um mesmo pai-cor estão com o mesmo 'inner'(número múltiplo)

## 2.2 - Verificar capacidades

In [19]:
df_prod_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Ordem de produção          100000 non-null  string
 1   Data da ordem de produção  100000 non-null  datetime64[ns]
 2   Produto                    100000 non-null  string
 3   Comprimento unit           100000 non-null  int64
 4   Largura unit               100000 non-null  int64
 5   Altura unit                100000 non-null  int64
 6   Peso unit                  100000 non-null  float64
 7   Peças                      100000 non-null  int64
 8   Caixa padrão               100000 non-null  string
 9   Loja                       100000 non-null  string
 10  Classe de onda             100000 non-null  string
 11  Tipo de buffer             100000 non-null  string
 12  Item pai                   100000 non-null  string
 13  Cor                        94042 non-null   string
 14  Tamanho                    100000 non-null  string
 15  Inner                      100000 non-null  int64
 16  Rota                       100000 non-null  string
 17  Capacidade                 100000 non-null  float64
 18  pai-cor                    94042 non-null   string
dtypes: datetime64[ns](1), float64(2), int64(5), string(11)
memory usage: 14.5 MB

In [20]:
df_prod_completo.describe().T

,count,mean,min,25%,50%,75%,max,std
Data da ordem de produção,100000,2023-11-16 04:17:56.832000256,2023-08-16 00:00:00,2023-11-10 00:00:00,2023-11-16 00:00:00,2023-11-22 00:00:00,2023-11-27 00:00:00,NaN
Comprimento unit,100000.0,358.54925,7.0,292.0,377.0,443.0,725.0,118.510631
Largura unit,100000.0,237.72222,4.0,197.0,249.0,289.0,529.0,76.78323
Altura unit,100000.0,43.41252,2.0,22.0,33.0,51.0,572.0,32.751948
Peso unit,100000.0,0.292139,0.005,0.17,0.26,0.36,1.26,0.180467
Peças,100000.0,3.69582,1.0,1.0,2.0,4.0,170.0,4.343881
Inner,100000.0,1.0891,1.0,1.0,1.0,1.0,12.0,0.647275
Capacidade,100000.0,inf,16000000000.0,40000000000.0,NaN,NaN,inf,NaN

verificação de valores nulos

In [21]:
df_prod_completo.isna().sum()

Ordem de produção               0
Data da ordem de produção       0
Produto                         0
Comprimento unit                0
Largura unit                    0
Altura unit                     0
Peso unit                       0
Peças                           0
Caixa padrão                    0
Loja                            0
Classe de onda                  0
Tipo de buffer                  0
Item pai                        0
Cor                          5958
Tamanho                         0
Inner                           0
Rota                            0
Capacidade                      0
pai-cor                      5958
dtype: int64

In [22]:
df_prod_completo.columns

Index(['Ordem de produção', 'Data da ordem de produção', 'Produto',
       'Comprimento unit', 'Largura unit', 'Altura unit', 'Peso unit', 'Peças',
       'Caixa padrão', 'Loja', 'Classe de onda', 'Tipo de buffer', 'Item pai',
       'Cor', 'Tamanho', 'Inner', 'Rota', 'Capacidade', 'pai-cor'],
      dtype='object')

### 2.2.1 - Capacidade da rota

In [23]:
df_prod_completo['Volume unit'] = df_prod_completo['Comprimento unit'] * df_prod_completo['Largura unit'] * df_prod_completo['Altura unit']

df_prod_completo[['Volume unit','Comprimento unit', 'Largura unit', 'Altura unit']]

       Volume unit  Comprimento unit  Largura unit  Altura unit
0          2628096               472           232           24
1          1860200               284           131           50
2           350000               250           100           14
3          6386640               460           267           52
4          7557600               480           235           67
...            ...               ...           ...          ...
99995      5929600               545           320           34
99996      5423000               493           220           50
99997      3209787               459           333           21
99998      3447488               472           332           22
99999      1928718               191           306           33

[100000 rows x 4 columns]

Volume total por ordem

In [24]:
df_prod_completo['Volume total'] = df_prod_completo['Volume unit']* df_prod_completo['Peças']

df_prod_completo[['Volume total', 'Volume unit', 'Peças']]

       Volume total  Volume unit  Peças
0          13140480      2628096      5
1           5580600      1860200      3
2            350000       350000      1
3          12773280      6386640      2
4          22672800      7557600      3
...             ...          ...    ...
99995       5929600      5929600      1
99996       5423000      5423000      1
99997       3209787      3209787      1
99998       6894976      3447488      2
99999       3857436      1928718      2

[100000 rows x 3 columns]

In [25]:
df_agrupado_rota = pd.DataFrame(df_prod_completo.groupby(['Rota', 'Capacidade'])['Volume total'].sum().reset_index())
df_agrupado_rota

   Rota    Capacidade  Volume total
0     1           inf  258827865112
1    10  2.720000e+10   75447745757
2    11  2.720000e+10   37720482759
3    12  1.600000e+10   18211521227
4    13  2.720000e+10   33370326363
5    14  7.600000e+10   26242089116
6    15  4.000000e+10   50713688877
7    16  2.240000e+10    3475387304
8    17  2.720000e+10    3751429562
9    18  2.720000e+10    2061481534
10    2  2.720000e+10   36772295154
11    3           inf  262185704686
12    4           inf  194715362094
13    5  2.720000e+10   36839453923
14    6  2.720000e+10   36176921042
15    7  4.000000e+10   53828435541
16    8  4.000000e+10   55832056262
17    9  2.720000e+10   12768585822

In [26]:
df_agrupado_rota.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rota          18 non-null     string
 1   Capacidade    18 non-null     float64
 2   Volume total  18 non-null     int64
dtypes: float64(1), int64(1), string(1)
memory usage: 564.0 bytes

In [27]:
df_agrupado_rota['suporta_demanda_rota'] = np.where(df_agrupado_rota['Volume total'] <=df_agrupado_rota['Capacidade'], 1, 0)

df_agrupado_rota.sort_values(by='suporta_demanda_rota')

   Rota    Capacidade  Volume total  suporta_demanda_rota
1    10  2.720000e+10   75447745757                     0
2    11  2.720000e+10   37720482759                     0
3    12  1.600000e+10   18211521227                     0
4    13  2.720000e+10   33370326363                     0
15    7  4.000000e+10   53828435541                     0
6    15  4.000000e+10   50713688877                     0
14    6  2.720000e+10   36176921042                     0
16    8  4.000000e+10   55832056262                     0
13    5  2.720000e+10   36839453923                     0
10    2  2.720000e+10   36772295154                     0
0     1           inf  258827865112                     1
12    4           inf  194715362094                     1
8    17  2.720000e+10    3751429562                     1
9    18  2.720000e+10    2061481534                     1
7    16  2.240000e+10    3475387304                     1
5    14  7.600000e+10   26242089116                     1
11    3           inf  262185704686                     1
17    9  2.720000e+10   12768585822                     1

As unidades de capacidade e volume total estão em mm³

In [28]:
print(f"O volume total de itens é suportado em {df_agrupado_rota.query('suporta_demanda_rota == 1').shape[0]} rotas")

O volume total de itens é suportado em 8 rotas

In [29]:
print(f"O volume total de itens é excede a capacidade em {df_agrupado_rota.query('suporta_demanda_rota == 0').shape[0]} rotas")

O volume total de itens é excede a capacidade em 10 rotas

### 2.2.2 - Capacidade das caixas

Vamos verificar se as caixas suportam o peso máximo de um pedido por item pai-cor

In [30]:
df_prod_completo.columns

Index(['Ordem de produção', 'Data da ordem de produção', 'Produto',
       'Comprimento unit', 'Largura unit', 'Altura unit', 'Peso unit', 'Peças',
       'Caixa padrão', 'Loja', 'Classe de onda', 'Tipo de buffer', 'Item pai',
       'Cor', 'Tamanho', 'Inner', 'Rota', 'Capacidade', 'pai-cor',
       'Volume unit', 'Volume total'],
      dtype='object')

In [31]:
df_prod_completo['Peso_total'] = df_prod_completo['Peso unit']*df_prod_completo['Peças']

df_prod_completo[['Peso unit', 'Peças', 'Peso_total']]

       Peso unit  Peças  Peso_total
0          0.130      5       0.650
1          0.250      3       0.750
2          0.120      1       0.120
3          0.570      2       1.140
4          0.340      3       1.020
...          ...    ...         ...
99995      0.300      1       0.300
99996      0.303      1       0.303
99997      0.307      1       0.307
99998      0.287      2       0.574
99999      0.280      2       0.560

[100000 rows x 3 columns]

In [32]:
df_agrupado_pai_cor_loja = pd.DataFrame(df_prod_completo.groupby(['Tipo de buffer', 'Loja', 'Classe de onda','pai-cor'])['Peso_total'].sum().reset_index())
df_agrupado_pai_cor_loja

      Tipo de buffer Loja Classe de onda     pai-cor  Peso_total
0                 CX    1              3     650-4.0       2.899
1                 CX    1              4  1278-412.0       2.660
2                 CX    1              4  2385-623.0       2.900
3                 CX    1              4   474-190.0       3.100
4                 CX    1              4   640-253.0       3.033
...              ...  ...            ...         ...         ...
29650             EN   99              4    943-18.0       4.807
29651             EN   99              4   954-339.0       2.339
29652             EN   99              4    970-28.0       2.773
29653             EN   99              5    1619-6.0       0.890
29654             EN   99              5     176-6.0       1.192

[29655 rows x 5 columns]

In [33]:
df_agrupado_pai_cor_loja['supera_23kg'] = np.where(df_agrupado_pai_cor_loja['Peso_total']>23, 1, 0)

df_agrupado_pai_cor_loja

      Tipo de buffer Loja Classe de onda     pai-cor  Peso_total  supera_23kg
0                 CX    1              3     650-4.0       2.899            0
1                 CX    1              4  1278-412.0       2.660            0
2                 CX    1              4  2385-623.0       2.900            0
3                 CX    1              4   474-190.0       3.100            0
4                 CX    1              4   640-253.0       3.033            0
...              ...  ...            ...         ...         ...          ...
29650             EN   99              4    943-18.0       4.807            0
29651             EN   99              4   954-339.0       2.339            0
29652             EN   99              4    970-28.0       2.773            0
29653             EN   99              5    1619-6.0       0.890            0
29654             EN   99              5     176-6.0       1.192            0

[29655 rows x 6 columns]

In [133]:
print('Total de pedidos em que a soma do peso de todas as peças do mesmo pai-cor supera 23kg:',df_agrupado_pai_cor_loja['supera_23kg'].sum())

Total de pedidos em que a soma do peso de todas as peças do mesmo pai-cor supera 23kg: 211

In [35]:
df_agrupado_pai_cor_loja.query('supera_23kg>0').sort_values(by='Peso_total', ascending=False)

      Tipo de buffer Loja Classe de onda     pai-cor  Peso_total  supera_23kg
24184             EN    4              3     854-9.0     131.985            1
24158             EN    4              3     526-9.0     115.690            1
9946              CX    4              9    360-53.0      90.340            1
9944              CX    4              9  2099-423.0      87.720            1
9945              CX    4              9  2107-579.0      85.880            1
...              ...  ...            ...         ...         ...          ...
17341             EN   10              3     214-9.0      23.170            1
20173             EN   16              4   1665-28.0      23.120            1
23249             EN   31              4   1665-28.0      23.120            1
9984              CX   40              1  2002-278.0      23.040            1
17407             EN   10              3     681-9.0      23.012            1

[211 rows x 6 columns]

In [36]:
df_agrupado_pai_cor_loja['Classe de onda'].nunique()

11

In [37]:
df_agrupado_pai_cor_loja['Loja'].nunique()

156

In [38]:
df_agrupado_pai_cor_loja['pai-cor'].nunique()

3208

### 2.2.3 Limitação da capacidade de peças por turno

A quantidade máxima de **peças em caixas** precisa ser:
<ul>
    <li>120.000 peças para o “Tipo de buffer” CX e </li>
    <li>100.000 peças para o “Tipo de buffer” EN.</li>
 </l>

In [101]:
df_completo_FIFO = df_prod_completo.sort_values(by=['Data da ordem de produção', 'Loja','Classe de onda', 'Tipo de buffer','pai-cor'])

In [102]:
with pd.option_context('display.max_columns', None):
    display(df_completo_FIFO.head())

,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,Loja,Classe de onda,Tipo de buffer,Item pai,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume unit,Volume total,Peso_total
25664,4522,2023-08-16,633674988,428,289,25,0.560,2,CARTON_M,26,5,CX,1865,6.0,27,1,1,inf,1865-6.0,3092300,6184600,1.120
58831,7928,2023-08-16,633675008,455,292,25,0.600,3,CARTON_M,26,5,CX,1865,6.0,21,1,1,inf,1865-6.0,3321500,9964500,1.800
71019,9224,2023-08-16,633674996,478,296,25,0.580,1,CARTON_M,26,5,CX,1865,6.0,4,1,1,inf,1865-6.0,3537200,3537200,0.580
60906,9002,2023-10-16,804068334,116,106,19,0.082,1,CARTON_S,116,6,CX,2489,674.0,179,1,3,inf,2489-674.0,233624,233624,0.082
95321,11552,2023-10-16,825051881,235,110,30,0.092,10,CARTON_M,16,2,CX,2988,451.0,109,1,1,inf,2988-451.0,775500,7755000,0.920

Quantidade total de peças por tipo de buffer

In [103]:
df_completo_FIFO.loc[df_completo_FIFO['Tipo de buffer'] == 'EN', 'Peças'].sum()

149582

In [104]:
df_completo_FIFO.loc[df_completo_FIFO['Tipo de buffer'] == 'CX', 'Peças'].sum()

220000

Selecionar o limite do buffer tipo CX

In [107]:
soma = 0
indices = []
tipo_buffer = 'CX'
max = 120000

for index, value in df_prod_completo[df_prod_completo['Tipo de buffer'] == tipo_buffer]['Peças'].items():
    soma += value
    if soma == max:
        indices.append(index)
        break
    elif soma > max:
        soma -= value
        break
    else:
        indices.append(index)

df_limite_buffer_CX = df_prod_completo.loc[indices]
df_limite_buffer_CX['Peças'].sum()

120000

Selecionar o limite do buffer tipo EN

In [109]:
soma = 0
indices = []
tipo_buffer = 'EN'
max = 100000

for index, value in df_prod_completo[df_prod_completo['Tipo de buffer'] == tipo_buffer]['Peças'].items():
    soma += value
    if soma == max:
        indices.append(index)
        break
    elif soma > max:
        soma -= value
        break
    else:
        indices.append(index)

df_limite_buffer_EN = df_prod_completo.loc[indices]
df_limite_buffer_EN['Peças'].sum()

100000

In [111]:
df_limite_buffer = pd.concat([df_limite_buffer_CX, df_limite_buffer_EN], ignore_index=True)
df_limite_buffer

,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,Loja,...,Item pai,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume unit,Volume total,Peso_total
0,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,2,...,2,2.0,2,1,11,2.720000e+10,2-2.0,1860200,5580600,0.750
1,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,3,...,3,3.0,3,1,5,2.720000e+10,3-3.0,350000,350000,0.120
2,7,2023-11-11,545612218,81,87,162,0.640,1,CARTON_S,6,...,7,<NA>,7,1,1,inf,<NA>,1141614,1141614,0.640
3,8,2023-11-24,861652334,248,216,128,0.300,5,CARTON_M,7,...,8,7.0,5,1,3,inf,8-7.0,6856704,34283520,1.500
4,9,2023-11-13,879695703,393,295,32,0.520,2,CARTON_M,2,...,9,8.0,8,1,11,2.720000e+10,9-8.0,3709920,7419840,1.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58453,68,2023-11-07,843672948,485,377,30,0.233,3,CARTON_M,9,...,353,4.0,1,1,1,inf,353-4.0,5485350,16456050,0.699
58454,8926,2023-11-23,796269830,443,268,19,0.140,4,CARTON_M,149,...,958,2.0,14,1,4,inf,958-2.0,2255756,9023024,0.560
58455,257,2023-11-07,611398476,412,281,27,0.440,1,CARTON_M,50,...,554,22.0,1,1,3,inf,554-22.0,3125844,3125844,0.440
58456,8936,2023-11-24,882144507,387,283,18,0.107,4,CARTON_M,82,...,130,9.0,115,1,3,inf,130-9.0,1971378,7885512,0.428
58457,916,2023-11-21,542772161,250,100,25,0.145,10,CARTON_M,11,...,1669,1.0,3,1,3,inf,1669-1.0,625000,6250000,1.450

In [114]:
#df_limite_buffer.to_excel('../01-Data/ordens_pre_process.xlsx')

## 2.3 Revisão das capacidade com o limite de turno

### 2.3.1 - Capacidade rota

In [113]:
df_agrupado_rota_v2 = pd.DataFrame(df_limite_buffer.groupby(['Rota', 'Capacidade'])['Volume total'].sum().reset_index())
df_agrupado_rota_v2

   Rota    Capacidade  Volume total
0     1           inf  155728971010
1    10  2.720000e+10   49795912728
2    11  2.720000e+10   24312034523
3    12  1.600000e+10   11427379062
4    13  2.720000e+10   21506406189
5    14  7.600000e+10   17698874771
6    15  4.000000e+10   31681045402
7    16  2.240000e+10    2166251564
8    17  2.720000e+10    2461739856
9    18  2.720000e+10    1359565135
10    2  2.720000e+10   23205235230
11    3           inf  155800945150
12    4           inf  107824404681
13    5  2.720000e+10   24572255182
14    6  2.720000e+10   22182355893
15    7  4.000000e+10   34879804148
16    8  4.000000e+10   35797822057
17    9  2.720000e+10    8164537558

In [115]:
df_agrupado_rota_v2['suporta_demanda_rota'] = np.where(df_agrupado_rota_v2['Volume total'] <=df_agrupado_rota_v2['Capacidade'], 1, 0)

df_agrupado_rota_v2.sort_values(by='suporta_demanda_rota')

   Rota    Capacidade  Volume total  suporta_demanda_rota
1    10  2.720000e+10   49795912728                     0
0     1           inf  155728971010                     1
15    7  4.000000e+10   34879804148                     1
14    6  2.720000e+10   22182355893                     1
13    5  2.720000e+10   24572255182                     1
12    4           inf  107824404681                     1
11    3           inf  155800945150                     1
10    2  2.720000e+10   23205235230                     1
9    18  2.720000e+10    1359565135                     1
8    17  2.720000e+10    2461739856                     1
7    16  2.240000e+10    2166251564                     1
6    15  4.000000e+10   31681045402                     1
5    14  7.600000e+10   17698874771                     1
4    13  2.720000e+10   21506406189                     1
3    12  1.600000e+10   11427379062                     1
2    11  2.720000e+10   24312034523                     1
16    8  4.000000e+10   35797822057                     1
17    9  2.720000e+10    8164537558                     1

In [126]:
print(f"Total de rotas que suportam a demanda: {df_agrupado_rota_v2.query('suporta_demanda_rota== 1').shape[0]}")

Total de rotas que suportam a demanda: 17

In [125]:
print(f"Total de rotas que NÃO suportam a demanda: {df_agrupado_rota_v2.query('suporta_demanda_rota== 0').shape[0]}")

Total de rotas que NÃO suportam a demanda: 1

### 2.3.2 Capacidade das caixas

In [127]:
df_agrupado_pai_cor_loja_v2 = pd.DataFrame(df_limite_buffer.groupby(['Tipo de buffer', 'Loja', 'Classe de onda','pai-cor'])['Peso_total'].sum().reset_index())
df_agrupado_pai_cor_loja_v2

      Tipo de buffer Loja Classe de onda     pai-cor  Peso_total
0                 CX    1              3     650-4.0       2.079
1                 CX    1              4  1278-412.0       2.660
2                 CX    1              4   474-190.0       2.000
3                 CX    1              4   640-253.0       2.397
4                 CX    1              4     85-47.0       2.240
...              ...  ...            ...         ...         ...
24870             EN   99              4    943-18.0       1.148
24871             EN   99              4   954-339.0       0.953
24872             EN   99              4    970-28.0       1.033
24873             EN   99              5    1619-6.0       0.490
24874             EN   99              5     176-6.0       0.879

[24875 rows x 5 columns]

In [129]:
df_agrupado_pai_cor_loja_v2['supera_23kg'] = np.where(df_agrupado_pai_cor_loja_v2['Peso_total']>23, 1, 0)

df_agrupado_pai_cor_loja_v2

      Tipo de buffer Loja Classe de onda     pai-cor  Peso_total  supera_23kg
0                 CX    1              3     650-4.0       2.079            0
1                 CX    1              4  1278-412.0       2.660            0
2                 CX    1              4   474-190.0       2.000            0
3                 CX    1              4   640-253.0       2.397            0
4                 CX    1              4     85-47.0       2.240            0
...              ...  ...            ...         ...         ...          ...
24870             EN   99              4    943-18.0       1.148            0
24871             EN   99              4   954-339.0       0.953            0
24872             EN   99              4    970-28.0       1.033            0
24873             EN   99              5    1619-6.0       0.490            0
24874             EN   99              5     176-6.0       0.879            0

[24875 rows x 6 columns]

In [132]:
print('Total de pedidos em que a soma do peso de todas as peças do mesmo pai-cor supera 23kg:',df_agrupado_pai_cor_loja_v2['supera_23kg'].sum())

Total de pedidos em que a soma do peso de todas as peças do mesmo pai-cor supera 23kg: 62